body {
    background: #d4ff17;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eeff00, #eef772);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eeff00, #eef772); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 500px;

    margin: 100px auto;
}