body {
    background: #f4c4f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff0000, #ff5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff0000, #ff5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a.button {
    
    appearance: button;

    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #443232;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 100px 85vh;
}

.bienvenida {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 100px auto;
}